.vBoxLogo{
    -fx-spacing: 20;
    -fx-background-color: lightblue;
    -fx-alignment: TOP-CENTER; 
}
.OUBus{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: blue;
    -fx-stroke-width: 1;
}

.lbIdBus, .lbNOS, .lbName, .lbLP {
    -fx-pref-width: 200;
    -fx-margin: 5;
}
.hBoxSubject{
    -fx-alignment: CENTER;
    -fx-pref-height: 40;
}
.textSubject{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: blue;
    -fx-stroke: white;
    -fx-stroke-width: 1;
}
.tableViewBus{
    -fx-pref-height: 460;
    -fx-pref-width: 200;
    -fx-margin: 5;
}
.buttonAdd, .buttonSearch, .buttonEdit, .buttonLogOut, .buttonAddBus{
    -fx-pref-width: 1;
    -fx-pref-height: 15;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
    -fx-margin: 5;
}
.vBoxAction{
    -fx-alignment: bottom-center;
    -fx-spacing: 10;
}

.hboxButton {
    -fx-alignment: CENTER;
}

.buttonLogOut{
    -fx-pref-width: 70;
    -fx-pref-height: 30
/*    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: CENTER;*/
}
/*For FXMLSearchTrip.fxml*/
.hBoxSearch{
    -fx-alignment: CENTER-LEFT;
    -fx-pref-height: 40;
    -fx-spacing: 10;
}
.labelSearch{
    -fx-font-weight: bold;
}
.tableSearchTrip{
    -fx-pref-height: 420;
}
.buttonDelete, .buttonReset, .buttonBack, .buttonAddConfirm, .imageViewBus, .buttonLogOut/*FXMLUpdateTrip*/{
    -fx-pref-width: 10;
    -fx-pref-height: 10;
    -fx-cursor: hand;
    -fx-alignment: TOP_CENTER;
}
/*For FXMLAddTrip.fxml*/
.hBoxInfo1, .hBoxInfo2, .hBoxInfo3{
    -fx-alignment: CENTER-LEFT;
    -fx-pref-height: 40;
    -fx-spacing: 10;
}
.labelDeparture, .labelDestination{
    -fx-pref-width: 70;
    -fx-font-weight: bold;
}

.textFieldDeparture, .textFieldDestination{
    -fx-pref-width: 280;
}
.tableAddTrip{
    -fx-pref-height: 380;
}
.textFieldTime, .textFieldPrice{
    -fx-pref-width: 190;
}
.datePickerDate{
    -fx-pref-width: 195;
}

.contains {
    -fx-alignment: CENTER_LEFT;
    -fx-margin: 10;
    -fx-pref-width: 300;
}

.contains Label {
    -fx-margin-top: 0;
    -fx-padding: 5;
    -fx-pref-width: 300; 
    -fx-pref-height: 30;
}

.hboxSearch {
    -fx-margin-left: 10;
    -fx-margin-top: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-height: 50;
}

.hboxInput {
    -fx-alignment: center-left;
    -fx-pref-height: 40;
    -fx-margin: 5;
    -fx-pref-width: 300;
}

.hboxInput TextField {
    -fx-margin: 5;
    -fx-pref-width: 120;
}

.txtSearch {
    -fx-margin: 5;
}

.hboxButton {
    -fx-alignment: TOP_CENTER;
}

.txtIdTrip, .txtName {
    -fx-pref-width: 126;
}

.cbbIdBus {
    -fx-pref-width: 90;
    -fx-margin: 10;
}

.text {
    -fx-pref-width: 150;
}


